*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.button-start-game{
    background-color: rgb(31, 219, 219);
    padding: 1rem 2rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid;
}

.button-start-game:hover{
    background-color: blue;
}


.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    /* animation: pipe-animation 2s infinite linear; */
}

.titulo{
    
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  