*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.button-start-game{
    background-color: rgb(31, 219, 219);
    padding: 1rem 2rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid;
}

.button-start-game:hover{
    background-color: blue;
}


.pipe{
    position: absolute;
    bottom: 2rem;
    width: 6rem;
}
.pipe-run{
    animation: pipe-animation 2s infinite linear;
}   

.hero{
    width: 20rem;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: hero-jump-animation 1000ms ease-out;
}


@keyframes hero-jump-animation{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 10rem;
    }
    50%{
        bottom: 10rem;
    }
    60%{
        bottom: 10rem;
    }
    100%{
        bottom: 0;
    }
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}
